@font-face {
    font-family: 'Norse-Bold';
    src: url(../assets/Norse-Bold.otf);
}

html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
    display: flex;
}

.sidebar {
    height: 100vh;
    min-width: 35%;
    width: 35%;
    background-image: url(../assets/sidebar-bg.jpg);
    background-size: cover;
}

.sidebar .logo {
    font-family: 'Norse-Bold';
    font-size: 7rem;
    color: #fff;
    margin-top: 40%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 150px;
}

.form-section {
    height: 100vh;
}

.quote {
    height: 25vh;
    padding-left: 46px;
    padding-right: 190px;
    padding-bottom: 100px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 600;
    background-color: #F9FAFB;
}

.form {
    height:30vh;
    padding: 20px 46px;
    padding-right: 280px;
    box-shadow: 0px 3px 5px gray;
}

.form h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;
}

.form .row .l-input,
.form .row .r-input {
    width: 42%;
}

.form .row label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 4px;
    display: inline-block;
}

.form .row .err-msg {
    color: red;
    font-size: 0.7rem;
}

.form .row input {
    width: 100%;
    border: 1px solid #E5E7EB;
    padding: 6px 10px;
    border-radius: 4px;
    outline: 0;
}

.form .row input:focus{
    border: 1px solid blue;
    box-shadow: 3px 3px 5px gray;
}

.form .row input:invalid {
    border: 1px solid red;
}

.submit {
    height: 25vh;
    background: #F9FAFB;
    padding: 20px 46px;
}

.submit input {
    background: #596D48;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 8px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    opacity: 0.9;
}

.submit input:hover {
    opacity: 1;
}

.submit p {
    font-weight: 500;
    font-size: 1.2rem;
}

.submit a {
    color: #596D48;
    text-decoration: none;
}